<div class="navbar navbar-dark bg-success" style='justify-content:center;'>
  <h2 class="navbar-brand">Sign in to FermCal!</h2>
</div>

<div class="container">
  <div class="row" style="margin-top:1%">
    <div class="col-xl-1.5 col-md-1 col-sm-0"></div>
    <div class="col-xl-9 col-md-10 col-sm-12">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
    <div class="col-xl-1.5 col-md-1 col-sm-0"></div>
  </div><br />
  <div class="row" style="justify-content:space-around">
    <div class="col-xl-1.5 col-md-1 col-sm-0"></div>
      <%= render "users/shared/links" %>
    <div class="col-xl-1.5 col-md-1 col-sm-0"></div>
  </div>
</div>