<div class="navbar navbar-dark bg-success" style='justify-content:center;'>
  <h2 class="navbar-brand">Sign up for FermCal!</h2>
</div>

<div class='container'>
  <div class="row" style="margin-top:1%">
    <div class="col-xl-1.5 col-md-1 col-sm-0"></div>
    <div class="col-xl-9 col-md-10 col-sm-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource, class: "alert-danger" %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :display_name %><br />
            <%= f.text_field :display_name, autocomplete: "display name", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-success" %>
          </div>
      <% end %>
    </div>
    <div class="col-xl-1.5 col-md-1 col-sm-0"></div>
  </div><br />
  <div class="row" style="justify-content:space-around">
    <div class="col-xl-1.5 col-md-1 col-sm-0"></div>
     <%= render "users/shared/links" %>
    <div class="col-xl-1.5 col-md-1 col-sm-0"></div>
  </div>
</div>
